# Xcode
projects/han-codes/StudyWithme/build/
projects/han-codes/StudyWithMe/StudyWithMe.xcworkspace/xcuserdata/
projects/han-codes/StudyWithMe/.pbxuser
Projects/han-codes/StudyWithMe/StudyWithMe.xcodeproj/xcuserdata/

# CocoaPods
projects/han-codes/StudyWithMe/Pods/
