<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786044117597-ro46hricvgnp4nklove0nio0fomen29k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786044117597-ro46hricvgnp4nklove0nio0fomen29k</string>
	<key>API_KEY</key>
	<string>AIzaSyCVOVRmrmk057pw_UTSE8ym9687uD9c4dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786044117597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hannie-developer.StudyWithMe</string>
	<key>PROJECT_ID</key>
	<string>studywithme-69c32</string>
	<key>STORAGE_BUCKET</key>
	<string>studywithme-69c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786044117597:ios:b1a7069ef61d2ac47f63b4</string>
	<key>DATABASE_URL</key>
	<string>https://studywithme-69c32.firebaseio.com</string>
</dict>
</plist>